* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
}

body {
  background-color: snow;
  color: rgb(33 33 33);
  min-width: 640px;
  max-width: 1080px;
  height: 96vh;
  margin: auto;
}

.nav {
  display: flex;
  width: 100%;
  height: 10vh;
  padding: 0.5rem 0;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.left-header, .right-header {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

.right-header {
  flex: 2;
  justify-content: flex-end;
  gap: 1rem;
}

.nav img {
  height: 100%;
}

.nav-button {
  font-size: 1.2rem;
  text-align: center;
  width: 15ch;
  color: rgb(112 146 190);
  border: 1px solid rgb(112 146 190);
  border-radius: 4px;
  padding: 4px 0;
}

.cart-button {
  background-color: rgba(0 150 255 / 50%);
  color: rgb(33 33 33);
  border: 1px solid rgb(0 150 255);
}

.content {
  height: 70vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.content img {
  vertical-align: top;
  height: 32vh;
  border-radius: 4px;
}

.left, .right {
  flex: 1;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.left {
  gap: 0.5rem;
}

.right {
  flex: 2;
}

.dots {
  width: 250px;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  color: rgba(33 33 33 / 50%);
}

.right h3, .right h4 {
  margin-bottom: 0.66rem;
}

.hours {
  padding: 0.5rem 0;
}

.map {
  margin-top: 1rem;
  width: 100%;
  height: 60%;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 1px rgb(112 146 190) solid;
  border-radius: 4px;
}

.footer {
  width: 1080px;
  height: 12vh;
  position: absolute;
  bottom: 4vh;
  left: 50%;
  transform: translateX(-50%);
}

.footer div {
  margin: 0.5rem;
}

.footer p {
  text-align: center;
}

.footer a {
  color: rgb(33 33 33);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer img{
  border: 1px solid rgba(0 0 0 / 0%);
  border-radius: 50%;
}

.menu, .order, .cart {
  text-align: center;
  height: 70vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cart h3 {
  margin: 0.5rem;
}

.cart-dish-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 60%;
  background-color: rgba(112 146 190 / 10%);
  border: 1px rgba(0 0 0 / 0%) solid;
  border-radius: 4px;
  margin: 1rem auto;
  padding: 1rem;
}

.cart-dish-card div {
  display: flex;
  width: 100%;
}

.cart-dish-card-amount {
  width: 3ch;
}

.cart-dish-card-price {
  text-align: end;
  flex: 4;
  padding-bottom: 0.5rem;
}

.cart-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.cancel, .confirm {
  text-align: center;
  width: 15ch;
  color: rgb(112 146 190);
  border: 1px solid rgb(112 146 190);
  border-radius: 4px;
  padding: 4px 0;
}

.cancel {
  color: darkred;
  border: 1px solid darkred;
}

.cart hr {
  width: 60%;
  margin: auto;
}

.cart-inputs {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 60%;
  padding: 1rem;
  margin: auto;
}

.cart-inputs-left, .cart-inputs-right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-inputs-left {
  width: 8ch;
  text-align: start;
}

.cart-inputs-right {
  flex: 4;
}

.cart-inputs label {
  padding: 3px 0;
}

.cart-inputs input, .cart-inputs textarea {
  border: 1px solid rgb(112 146 190);
  border-radius: 4px;
  padding: 4px;
}

.cart-inputs textarea {
  height: 5rem;
}

.order-total {
  font-weight: bold;
}

.dish-options {
  font-style: italic;
  padding-top: 1rem;
}

.gluten-free, .vegan {
  color: rgb(0 140 255);
  font-weight: bold;
}

.vegan {
  color: green;
  font-weight: bold;
}

.sub-heading {
  font-style: italic;
  font-weight: bold;
}

.menu p {
  margin-bottom: 1rem;
}

.footer img:hover {
  cursor: pointer;
  border: 1px solid rgb(33 33 33);
  border-radius: 50%;
}

.right-header p:hover {
  cursor: pointer;
  color: snow;
  border: 1px solid rgb(33 33 33);
  background-color: rgba(33 33 33 / 75%);
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.dishes {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.dish-category {
  margin: 1rem;
}

.dish-card {
  width: 45%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  background-color: rgba(112 146 190 / 10%);
  border: 1px rgba(0 0 0 / 0%) solid;
  border-radius: 4px;
  overflow: hidden;
}

.dish-card h3, .dish-card p {
  text-align: start;
}

.image-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dish-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.dialog-container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  padding: 1rem;
}

.dialog-left, .dialog-right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dialog-left {
  width: 8ch;
}

.dialog-right {
  flex: 4;
}

.dialog-container label {
  padding: 4px 0;
}

.dialog-container input, .dialog-container textarea {
  border: 1px solid rgb(112 146 190);
  border-radius: 4px;
  padding: 4px;
}

.dialog-container textarea {
  height: 5rem;
}

.dialog-button {
  margin-top: 0.5rem;
  width: 100%;
  padding: 4px;
  background-color: rgba(112 146 190 / 25%);
  border: 1px rgba(0 0 0 / 0%) solid;
  border-radius: 4px;
}

.dish-card:hover {
  cursor: pointer;
  border: 1px solid rgb(112 146 190);
}

.dialog-button:hover, .cart-buttons button:hover {
  cursor: pointer;
  background-color: rgba(112 146 190 / 50%);
  border: 1px rgb(112 146 190) solid;
}